<h2 mat-dialog-title>List of Potential Duplicate</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <table
        class="w-full  sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5"
      >
        <thead class="text-white">
          <tr
           class="bg-gray-400 flex flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0"
          >
            <th class="p-3 text-center">Lead Id</th>
            <th class="p-3 text-center">Source</th>
            <th class="p-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none">
          <tr
            class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0"
            *ngFor="let item of items | paginate : { itemsPerPage: 10, currentPage: page }"
          >
            <td class="border-grey-light border hover:bg-gray-100 p-3 ">
              {{ item.lead_id }}
            </td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 ">
                {{ item.source }}
              </td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 truncate text-center">
                <input id="checked-checkbox" type="checkbox" (change)="changeList(item)" [value]="item.lead_id" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" [(ngModel)]="item.checked">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="bg-red-400 hover:bg-rose-600 rounded-md text-white p-2 mr-2">Cancel</button>
  <button mat-button class="bg-blue-400 hover:bg-blue-600 rounded-md text-white p-2" (click)="submit()">Update</button>
</mat-dialog-actions>
